.appInfo {
  @include make-row(0);
}

.appInfo-column {
  @include make-md-column(4, 100px);

  @media(max-width: 768px) {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.appInfo-title {
  position: relative;

  padding: 90px 0 10px;
  margin: 0 0 15px;

  text-align: center;
  text-transform: uppercase;

  font-weight: bold;
  font-size: 20px;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    width: 70px;
    height: 70px;

    margin: 0 auto;

    content: "";

    background-image: url("../images/icon.png");
    background-size: 70px 70px;
    background-position: center;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 80px;
    height: 2px;

    margin: 0 auto;

    content: "";

    background-color: $fontColor--primary;
  }
}

.appInfo-lead {
  text-align: center;
}
