.hero {
   height: 900px;

   padding: 350px 0 0;
   margin-top: -135px;

   background-image: url(../images/hero.jpg);
   background-position: center;
   background-size: cover;

   @media(max-width: 1024px) {
     padding: 280px 0 0;
   }

   @media(max-width: 460px) {
      height: auto;

      padding: 0 0 50px;
      margin-top: 0;

      background-image: none;
      background-color: #000;
   }
}

.hero-content {
   width: 80%;

   color: #fff;

   @media(max-width: 460px) {
      width: 100%;
   }
}

.hero-title {
    margin: 0 0 30px;

   font-size: 78px;
   font-weight: bold;

   color: #fff;

   @media(max-width: 460px) {
      font-size: 42px;
   }
}

.hero-subtitle {
   display: inline-block;

   padding: 5px 15px;
   margin-bottom: 30px;

   font-size: 18px;
   font-weight: normal;

   color: #fff;

   background-color: $fontColor--primary;

   border-radius: 5px;
}

.hero-lead {
   padding-right: 30px;
   margin-bottom: 30px;
}

.hero-linkGroup {
   position: relative;
}
