/**
 * Layout styles.
 */

 body,
 html {
    height: 100%;
    min-height: 100%;

    font-size: $fontSize;
    font-family: 'Open Sans', sans-serif;

    background-color: #fff;
 }

 .section {
    padding: 100px 0;

    @media(max-width: 768px) {
      padding: 50px 0;
   }
}

.section--secondary {
   background-image: url("../images/bg.jpg");
}

.section-title {
   margin: 0 0 30px;

   font-weight: bold;

   text-align: center;
}

.section-subtitle {
   display: inline-block;

   padding: 5px 15px;
   margin: 0 0 20px;

   font-size: 18px;
   font-weight: normal;

   color: #fff;

   background-color: $fontColor--primary;

   border-radius: 5px;
}

.section-lead {
   margin: 0 0 30px;
}

.section-content--center {
   text-align: center;
}
