/**
 * Layout styles.
 */

 body,
 html {
    height: 100%;
    min-height: 100%;

    font-size: $fontSize;
    font-family: 'Open Sans', sans-serif;

    background-color: $backgroundColor--grayLight;
 }

 .section {
    padding: 100px 0;

    @media(max-width: 768px) {
      padding: 50px 0;
   }
}

.section--secondary {
   background-image: url("../images/bg.jpg");
}

.section-title {
   margin: 0 0 30px;

   font-weight: bold;

   text-align: center;
}

.section-subtitle {
   display: inline-block;

   padding: 5px 15px;
   margin: 0 0 20px;

   font-size: 18px;
   font-weight: normal;

   color: #fff;

   background-color: #ad0000;

   border-radius: 5px;
}

.section-lead {
   margin: 0 0 30px;
}

.section-content--center {
   text-align: center;
}

.section--transformCv {
   padding-bottom: 80px;

   @media(max-width: 460px) {
     padding-bottom: 30px;
  }
}



.transformCv {
  @include make-row(0);
}

.transformCv-column {
   @include make-xs-column(6);
   position: relative;

   &:first-child {
      &::after {
         position: absolute;
         top: 50%;
         right: -26px;

         width: 50px;
         height: 73px;

         content: "";

         background-image: url("../images/arrow.png");
         background-size: cover;

         transform: translateY(-50%);

         @media(max-width: 460px) {
            right: -14px;

            width: 25px;
            height: 36px;
         }
      }
   }

   @media(max-width: 460px) {
     img {
        width: 100%;
        height: auto;
     }
   }
}


.appInfo {
  @include make-row(0);
}

.appInfo-column {
  @include make-md-column(4, 100px);

  @media(max-width: 768px) {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.appInfo-title {
  position: relative;

  padding: 90px 0 10px;
  margin: 0 0 15px;

  text-align: center;
  text-transform: uppercase;

  font-weight: bold;
  font-size: 20px;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    width: 70px;
    height: 70px;

    margin: 0 auto;

    content: "";

    background-image: url("../images/icon.png");
    background-size: 70px 70px;
    background-position: center;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 80px;
    height: 2px;

    margin: 0 auto;

    content: "";

    background-color: #ad0000;
  }
}

.appInfo-lead {
  text-align: center;
}

.section--ourPrice {
  padding: 0;
}

.ourPrice {
  @include make-row(0);
  position: relative;
}

.ourPrice-column {
  @include make-md-column(6);

  &:first-child {
    img {
      width: 100%;

      transform: translateY(-50px);
    }

    @media(max-width: 768px) {
      display: none;
    }
  }

  &:nth-child(2) {
    padding: 100px 15px;

    @media(max-width: 1024px) {
      padding: 50px 15px;
    }
  }
}

.section-title--ourPrice {
  padding-left: 60px;

  text-align: left;

  @media(max-width: 768px) {
    padding-left: 0;
    text-align: center;
  }
}

.section-subtitle--ourPrice {
  margin-left: 60px;

  @media(max-width: 768px) {
    display: block;

    width: 90px;

    margin: 0 auto;
  }
}

.ourPrice-list {
  list-style: none;
  margin: 0 0 50px;
  padding: 0 0 0 55px;
}

.ourPrice-listItem {
  position: relative;
  margin-bottom: 15px;

  &::before {
    position: absolute;
    left: -35px;
    top: 50%;

    width: 20px;
    height: 10px;

    content: "";

    transform: translateY(-50%) rotate(-45deg);

    border-bottom: 3px solid #ad0000;
    border-left: 3px solid #ad0000;
  }
}

.ourPrice-priceTag {
  display: block;

  width: 190px;
  height: 190px;

  margin: 0 auto;

  background-color: #ad0000;

  border: 10px solid #fff;
  border-radius: 100%;

  box-shadow: 0px 0 40px #aaa;
}

.ourPrice-price {
  position: relative;
  top: 50%;

  font-size: 82px;
  font-weight: bold;

  color: #fff;

  text-align: center;

  transform: translateY(-70%);
}

.ourPrice-currency {
  position: relative;
  top: -4px;

  font-size: 22px;

  color: #fff;

  text-align: center;
}
